@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

body {
  margin: 0;
  font-family: Inter;
  display: flex;
  place-items: center;
  place-content: center;
  background: linear-gradient(to bottom right, var(--accentLight), var(--accent));

  --lightest: #ffffff;
  --light: #f0f4f5;
  --dark: #231f20;
  --accent: #005ebb;
  --accentLight: #277cd1;
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box
}